font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Sniglet', cursive;

7:00AM - 11:00AM
Art learning
10 lessons to teaach little kids way to create simple art as crafting and paper <br>
                       art. 
                       <span class="text-right">Age: 5-7 years</span><span class="text-left">Class Size: 15</span>